@media screen and (max-width:1400px) {
    #profile {
        height: 81vh;
        margin-bottom: 6rem;
    }
    .about-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        height: 250px;
    }
    .section-text{
        height: 300px;
    }
    #education, .eduction-details-container{
        margin-top: 2rem;
    }
    #profile,.section-container{
        display: block;
        margin-bottom: 0;
        height: 650px;
    }
    .eduction-details-container,.education-container{
        flex-wrap: wrap;
        column-gap: 1400px;
    }
    .project-details-container,.project-container{
        flex-wrap: flex;
        width: fit-content;
        align-items: center;
        padding-bottom: 25px;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section_pic-container {
        width: 350px;
        height: 350px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
    #contact{
        height: 70px;
    }
}

@media screen and (max-width:600px) {
    #contact, footer {
        height: 40vh;
    }
    #hamburger-nav{
        height: 120px;
    }
    .menu-links{
        z-index: 1;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    .details-container {
        font-size: 0.8rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-container, .contact-info-container, .btn-container {
        flex-wrap: wrap;
        flex-wrap: flex;
    }
    .about-containers{
        column-gap: 700px;
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 0.8rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: auto;
       height: 230px;
       width: 230px;
        justify-content: center;
        z-index: -1;
    }
    
}
